<div class="content-container">
  <div class="search-field">
    <div class="search-input-wrapper">
      <input placeholder="Search for movie or tv show"/>
    </div>
  </div>
  <div class="tab-group">
    <div class="tab" [ngClass]="{'active': moviesFocused}" (click)="focus(true, false)">Movies</div>
    <div class="tab" [ngClass]="{'active': tvShowsFocused}" (click)="focus(false, true)">Tv Shows</div>
  </div>
  <div class="tab-content">
    <app-media-list [mediaList]="mediaList"></app-media-list>
  </div>
</div>