.content-container {
    margin: 100px auto;
    width: 1200px;

    .search-field {
        .search-input-wrapper {
            margin: 0 100px;

            input {
                font-size: 16px;
                padding: 12px 8px;
                border-radius: 5px;
                box-sizing: border-box;
                width: 100%;
            }
        }

        margin-bottom: 70px;
    }
}

