:host {
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding: 10px 15px;
}

.details-link {
    color: #495057;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}


p-card {
    display: flex
}