:host {
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding: 5px 15px;
}

.rating-section {
    padding: 15px 5px;

    .rate-btn {
        float: right;
        cursor: pointer;
    }

    .average-rating i {
        color: rgb(238, 226, 52);
    }

    .average-rating, .rate-btn, .current-rating {
        font-size: 20px;
    }

    .current-rating {
        margin-left: 5px;
    }
}


p-card {
    display: flex
}