<p-card [header]="mediaContent!.title" [subheader]="(mediaContent!.releaseDate | date:'y')!" [style]="{width: '360px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img alt="Image" width="200" height="360" src="https://m.media-amazon.com/images/M/MV5BYWE3MDVkN2EtNjQ5MS00ZDQ4LTliNzYtMjc2YWMzMDEwMTA3XkEyXkFqcGdeQXVyMTEzMTI1Mjk3._V1_QL75_UX140_CR0,0,140,207_.jpg">
        <app-media-rating-section [mediaContent]="mediaContent"></app-media-rating-section>
    </ng-template>

    <a class="details-link" (click)="openDetailsDialog(mediaContent)">More details</a>
</p-card>
